.chat-box {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 10rem;
  }
  
  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .card{
    margin-top: 3rem;
  }
  